<html>
	<head>
		<title>Title tk</title>
		<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <style type=text/css>{{ get_resource_as_string('templates/style_index.css') }}</style>	
    </head>
	<body>
	
	<h1 font-size="16" style="text-align:center">Tit for Tat</h1>

    <p>Some initial stuff on what tit for tat does</p>
    
    <img>image with the payoffs.</img>
    
    <p> Some more stuff on how the system works. Change payoffs, iterations and the population you are playing against.</p>
    
    <a href="/overview">The Axelrod tournament</a><br/>
    <br/>
    <a href="/tft">Tit for Tat</a><br/>
    <a href="/ac">Always cooperate</a><br/>
    <a href="/ad">Always defect</a><br/>
    <a href="/c_70">Cooperate 70% of the time</a><br/>
    <a href="/c_switch">Cooperate first, then switch</a><br/>
    <a href="/c_until_d">Cooperate until opponent defects</a><br/>
    <a href="/d_70">Defect 70% of the time</a><br/>
    <a href="/d_switch">Defect first, then switch</a><br/>
    <a href="/ntft">Defect first, then reciprocate</a><br/>
    <a href="/rand">Random strategy</a><br/>

	
	</body>
</html>