<html>
    <head>
        <title>Single strategies</title>
    </head>
<body>

<h1>What strategy do you want to explore?</h1>

<a href="/single/Tit for Tat">Tit For Tat</a><br/>
<a href="/single/Always Cooperate">Always Cooperate</a><br/>
<a href="/single/Always Defect">Always Defect</a><br/>
<a href="/single/Random Strategy">Random Strategy</a><br/>
<a href="/single/Start with C, then switch">Start witch C, then switch</a><br/>
<a href="/single/Start with D, then switch">Start with D, then switch</a><br/>
<a href="/single/Start with C, reciprocate">Start with C, reciprocate</a><br/>
<a href="/single/Play C until D is played">Play C until D is played</a><br/>
<a href="/single/Play C 70% of the time">Play C 70% of the time</a><br/>
<a href="/single/Play D 70% of the time">Play D 70% of the time</a><br/>

</body>

</html>